html,body,div,a,b,p,span,ul,ol,i,em,strong,h1,h2,h3,h4,
h5,h6{
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
@mixin border {
  border-radius: 4px;
  border: 1px solid #e5e5e5;
}
@mixin common ($w, $h){
  width: $w;
  height: $h;
  font-size: 12px;
  color: #010000;
  line-height: $h;
  span {
    color: #cc0d13;
    padding-right: 5px;
  }
  a {
    display: block;
    width: 55px;
    height: 13px;
    font-size: 12px;
    color: #000;
    float: right;
    line-height: 13px;
    margin-top: 14px;
    text-align: left;
    background: url("../images/17.png") no-repeat 42px 0;
  }
}
.w962 {
  width: 962px;
  margin: 0 auto;
}
/*top style begin*/
.top {
  height: 30px;
  i {
    display: block;
    width: 7px;
    height: 30px;
  }
  .left {
    background: url("../images/z-1.png");
    float: left;
  }
  .right {
    background: url("../images/y-1.jpg");
    float: right;
  }
  div {
    width: 948px;
    height: 30px;
    background: url("../images/bg-1.png");
    span {
      font-size: 12px;
      color: #666;
      width: 296px;
      height: 21px;
      display: block;
      line-height: 21px;
      margin-top: 4px;
      overflow: hidden;
      float: left;
      strong {
        display: block;
        float: left;
        font-weight: normal;
      }
      a {
        display: block;
        width: 38px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        border: 1px solid #e5e5e5;
        border-radius: 2px;
        margin-right: 5px;
        color: #999;
        float: left;
        -moz-box-shadow:1px 1px 1px #ededed;
        -webkit-box-shadow:1px 1px 1px #ededed;
        box-shadow:1px 1px 1px #ededed;
      }
    }
    p {
      width: 164px;
      height: 20px;
      margin-right: 22px;
      float: right;
      margin-top: 8px;
      overflow: hidden;
      b {
        display: block;
        height: 13px;
        border-left: 1px solid #d5d5d5;
        float: left;
        margin-left: 7px;
        margin-right: 8px;
      }
      a {
        display: block;
        width: 78px;
        height: 12px;
        font-size: 12px;
        line-height: 12px;
        color: #666;
        background: url("../images/1.png")no-repeat;
        float: left;
        text-align: right;
        overflow: hidden;
      }
      .a-1 {
        width: 68px;
        background: url("../images/2.png") no-repeat 0 1px;
      }
    }
  }
}
/*top style end*/
/*nav style begin*/
.nav {
  height: 100px;
  .left {
    width: 312px;
    height: 77px;
    margin-left: 20px;
    float: left;
    ul {
      margin-top: 10px;
      height: 67px;
      width: 312px;
      li {
        width: 46px;
        height: 67px;
        float: left;
        margin-right: 20px;
        a {
          display: block;
          width: 46px;
          height: 67px;
          overflow: hidden;
          text-align: center;
          font-size: 12px;
          color: #333;
        }
        i {
          display: block;
          width: 46px;
          height: 46px;
          background: url("../images/4.png");
          margin-bottom: 4px;
        }
        .i-1 {
          background: url("../images/7.png");
        }
        .i-2 {
          background: url("../images/8.png");
        }
        .i-3 {
          background: url("../images/9.png");
        }
      }
      .li-1 {
        margin-right: 0;
        i {
          background: url("../images/10.png");
        }
      }
    }
  }
  .logo {
    display: block;
    width: 223px;
    height: 63px;
    float: left;
    background: url("../images/11.png");
    margin-top: 10px;
    margin-left: 38px;
  }
  .right {
    width: 340px;
    height: 77px;
    margin-right: 14px;
    float: right;
    ul {
      margin-top: 10px;
      height: 67px;
      width: 340px;
      li {
        width: 60px;
        height: 67px;
        float: left;
        margin-right: 8px;
        a {
          display: block;
          width: 60px;
          height: 67px;
          text-align: center;
          font-size: 12px;
          color: #333;
          overflow: hidden;

        }
        i {
          display: block;
          width: 46px;
          height: 46px;
          margin-left: 7px;
          margin-bottom: 4px;
          background: url("../images/12.png");
        }
        .li-1 {
          margin-right: 0;
          margin-left: 7px;
        }
        .icon-1 {
          background: url("../images/13.png");
        }
        .icon-2 {
          background: url("../images/14.png");
        }
        .icon-3 {
          background: url("../images/5.png");
        }
        .icon-4 {
          background: url("../images/6.png");
        }
      }
    }
  }
}
/*nav style end*/
/*header style begin*/
.header {
  height: 116px;
  i {
    display: block;
    width: 6px;
    height: 116px;
  }
  .left {
    float: left;
    background: url("../images/search-left.png");
  }
  .box {
    width: 950px;
    height: 116px;
    float: left;
    position: relative;
    background: url("../images/search-bg.jpg")repeat-x;
    em {
      display: block;
      width: 158px;
      height: 116px;
      background: url("../images/33.png");
      position: absolute;
      top: -2px;
      left: 36px;
    }
    ul {
      height: 27px;
      width: 406px;
      position: absolute;
      left: 220px;
      top: -10px;
      li {
        float: left;
        width: 80px;
        height: 27px;
        margin-left: 1px;
        a {
          display: block;
          width: 78px;
          height: 26px;
          border: 1px solid #f8d0bf;
          color: #000;
          font-size: 14px;
          line-height: 27px;
          text-align: center;
          border-bottom-color: #c40d0e;
          border-radius: 3px 3px 0 0;
          background: #fcfcfc;
          &:hover {
            background: #e21c01;
            color: #fff;
            border: 1px solid #c40d0e;
            border-bottom-color: #e21c01;
            font-weight: bold;
          }
        }
        .a-1 {
          background: #e21c01;
          color: #fff;
          border: 1px solid #c40d0e;
          border-bottom-color: #e21c01;
          font-weight: bold;
        }
      }
    }
    .box-1 {
      width: 698px;
      height: 36px;
      overflow: hidden;
      position: absolute;
      left: 220px;
      top: 30px;
      input {
        display: block;
        width: 404px;
        height: 20px;
        margin-top: 9px;
        margin-right: 10px;
        float: left;
        text-indent: 1em;
      }
      a {
        display: block;
        width: 61px;
        height: 23px;
        float: left;
        margin-top: 10px;
        background: url("../images/search.png");
      }
      p {
        width: 202px;
        height: 36px;
        float: right;
        overflow: hidden;
        font-size: 12px;
        color: #fbfbfb;
        font-family: "microsoft yahei";
        span {
          display: block;
          width: 202px;
          height: 18px;
          line-height: 18px;
        }
      }
    }
    .box-2 {
      width: 406px;
      height: 16px;
      position: absolute;
      top: 92px;
      left: 220px;
      a {
        display: block;
        width: 50px;
        height: 14px;
        margin-top: 1px;
        float: left;
        background: #e02c1d;
        border-radius: 2px;
        color: #fff;
        margin-right: 10px;
        font-size: 12px;
        line-height: 14px;
      }
      span {
        float: left;
        overflow: hidden;
        display: block;
        width: 24px;
        height: 16px;
        line-height: 16px;
        color: #d30703;
        font-size: 12px;
        font-family: "microsoft yahei";
      }
      .sp-1 {
        width: 44px;
        color: #999;
        margin-left: 6px;
      }
      .sp-2 {
        width: 214px;
        color: #000;
        margin-left: 5px;
      }
      p {
        width: 8px;
        height: 16px;
        float: right;
        .top {
          display: block;
          width: 0;
          height: 0;
          border: 4px solid transparent;
          border-bottom-color: #cc0d13;
          margin-top: -3px;
          margin-bottom: 5px;
        }
        .bottom {
          display: block;
          width: 0;
          height: 0;
          border: 4px solid transparent;
          border-top-color: #cc0d13;
        }
      }
    }
  }
  .right {
    float: right;
    background: url("../images/search-right.png");
  }
}
/*header style end*/
/*content style begin*/
.content {
  height: auto;
  margin-top: 10px;
  .module-left {
    width: 710px;
    height: auto;
    float: left;
    /*video style begin*/
    .video {
      width: 710px;
      height: 420px;
      .left {
        width: 318px;
        height: 418px;
        float: left;
        @include border;
        padding: 0 15px;
        h2 {
          width: 128px;
          height: 23px;
          font-size: 18px;
          color: #d90000;
          font-weight: normal;
          line-height: 23px;
          margin-top: 10px;
          margin-bottom: 9px;
          background: url("../images/play.png")no-repeat 105px 0;
        }
        video {
          height: 286px;
          width: 318px;
          background: #eef0f0;
        }
        div {
          width: 317px;
          height: 63px;
          margin-top: 12px;
          padding-left: 3px;
          em {
            display: block;
            width: 65px;
            height: 63px;
            background: url("../images/hot.png");
            float: left;
            margin-right: 17px;
          }
          ul {
            width: 216px;
            float: left;
            height: 63px;
            li {
              font-size: 12px;
              color: #4d4d4d;
              font-family: "microsoft yahei";
              width: 216px;
              height: 20px;
              line-height: 20px;
              i {
                display: block;
                height: 3px;
                float: left;
                border-left: 2px solid #d20f02;
                margin-top: 8px;
                margin-right: 2px;
              }
            }
          }
        }
      }
      .right {
        width: 318px;
        height: 370px;
        float: right;
        margin-top: 34px;
        padding: 16px 16px 0 16px;
        @include border;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        position: relative;
        ul {
          width: 352px;
          height: 35px;
          position: absolute;
          top: -35px;
          left: -1px;
          li {
            height: 34px;
            float: left;
            a {
              display: block;
              width: 172px;
              height: 33px;
              border: 1px solid #e5e5e5;
              margin-right: 4px;
              line-height: 33px;
              font-size: 12px;
              color: #2b2d2d;
              border-radius: 4px 4px 0 0;
              background: url(../images/menu-bg.png);
              position: relative;
              &:hover {
                border-bottom-color: #fff;
                background: none;
                span {
                  color: #cc0d13;
                }
                b {
                  border-top-color: #cc0d13;
                }
              }
              span {
                color: #666;
                padding-left: 19px;
                padding-right: 7px;
              }
              b {
                display: block;
                width: 0;
                height: 0;
                border: 4px solid transparent;
                border-top-color: #c1c1c1;
                position: absolute;
                top: 14px;
                right: 16px;
              }
            }
          }
          li:first-child {
            a {
              border-bottom-color: #fff;
              background: none;
            }
            span {
              color: #cc0d13;
            }
            b {
              border-top-color: #cc0d13;
            }
          }
          li:last-child {
            a {
              margin-right: 0;
            }
          }
        }
        div {
          width: 318px;
          height: 108px;
          position: relative;
          margin-bottom: 7px;
          img {
            display: block;
            width: 104px;
            height: 84px;
            float: left;
            margin-top: 10px;
            //position: absolute;
            //top: 10px;
            border: 1px solid #e6e6e6;
          }
          p {
            width: 123px;
            height: 84px;
            float: left;
            margin-top: 10px;
            margin-left: 20px;
            a {
              width: 122px;
              height: 24px;
              line-height: 24px;
              display: block;
              font-size: 12px;
              color: #bb0d0d;
              margin-bottom: 3px;
            }
            span {
              width: 92px;
              height: 17px;
              line-height: 17px;
              display: block;
              font-size: 12px;
              color: #6e6e6e;
            }
          }
          i {
            display: block;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 60px;
            left: 72px;
            background: url("../images/34.png");
          }
          strong {
            display: block;
            width: 43px;
            height: 43px;
            float: right;
            background: url("../images/hot-1.png");
          }
        }
        .a-1 {
          display: block;
          width: 55px;
          height: 13px;
          font-size: 12px;
          color: #000;
          float: right;
          line-height: 13px;
          margin-top: 14px;
          text-align: left;
          background: url("../images/17.png") no-repeat 42px 0;
          position: absolute;
          right: 15px;
          bottom: 10px;
        }
      }
    }
    /*video style end*/
    .logo {
      width: 710px;
      height: 90px;
      background: url("../images/logo.jpg");
      margin: 10px 0;
    }
    /*diary style begin*/
    .diary {
      height: 500px;
      width: 710px;
      overflow: hidden;
      .diary-left {
        width: 326px;
        height: 498px;
        @include border;
        float: left;
        padding-left: 22px;
        position: relative;
        .box {
          width: 326px;
          height: 70px;
          background: url("../images/shadow.png")no-repeat 246px 0;
          p {
            width: 100px;
            height: 44px;
            float: left;
            margin-top: 16px;
            span {
              width: 100px;
              height: 22px;
              line-height: 22px;
              display: block;
              font-size: 12px;
              color: #ea2b31;
            }
            b {
              width: 100px;
              height: 24px;
              line-height: 24px;
              display: block;
              font-size: 24px;
              color: #333;
              font-weight: normal;
            }
          }
          h3 {
            width: 118px;
            height: 44px;
            line-height: 44px;
            font-size: 36px;
            color: #ec1c16;
            float: left;
            margin-left: 6px;
            margin-top: 16px;
            font-weight: normal;
          }
        }
        i {
          display: block;
          width: 314px;
          height: 2px;
          background: url("../images/line.png");
          position: absolute;
          right: 22px;
        }
        .box-1 {
          width: 324px;
          height: 103px;
          padding-top: 14px;
          img {
            display: block;
            width: 83px;
            height: 83px;
            float: left;
            margin-right: 12px;
          }
          div {
            width: 202px;
            height: 83px;
            float: left;
            span {
              display: block;
              width: 202px;
              height: 26px;
              color: #333;
              line-height: 26px;
              margin-top: 2px;
              margin-bottom: 4px;
              font-size: 12px;
              em {
                display: block;
                width: 23px;
                height: 23px;
                float: left;
                margin-right: 3px;
                border: 1px solid #d2d2d2;
                color: #d31913;
                text-align: center;
                font-style: normal;
                border-radius: 3px;
              }
            }
            p {
              color: #999;
              width: 202px;
              height: 57px;
              line-height: 19px;
              overflow: hidden;
              font-size: 12px;
            }
          }
        }
        ul {
          height: 284px;
          width: 298px;
          .li-1 {
            width: 278px;
            height: 34px;
            padding: 0 8px;
            line-height: 34px;
            word-spacing: 14px;
            margin-bottom: 0;
            font-size: 12px;
            color: #333;
            background: #fafafa;
          }
          li {
            height: 40px;
            width: 298px;
            margin-bottom: 2px;
            a {
              display: block;
              width: 40px;
              height: 40px;
              line-height: 40px;
              text-align: center;
              float: left;
              background: #ededed;
              margin-right: 3px;
              color: #666;
            }
            a:last-child {
              margin-right: 0;
            }
            .a-1 {
              background: #f8f8f8;
              color: #d8d8d8;
            }
          }
        }
      }
      .diary-right {
        width: 317px;
        height: 498px;
        @include border;
        float: right;
        padding: 0 15px 0 16px;
        .box-1 {
          width: 308px;
          height: 54px;
          padding-top: 16px;
          position: relative;
          span {
            display: block;
            margin-left: 10px;
            width: 88px;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            color: #d80000;
          }
          b {
            display: block;
            width: 90px;
            height: 28px;
            line-height: 28px;
            font-size: 22px;
            color: #333;
            margin-left: 10px;
          }
          img {
            display: block;
            width: 172px;
            height: 54px;
            position: absolute;
            top: 14px;
            left: 104px;
          }
        }
        .box-2 {
          width: 318px;
          height: 182px;
          background: #f8f8f8;
          img {
            display: block;
            width: 225px;
            height: 135px;
            float: left;
            margin: 14px 10px 0 12px;
          }
          p {
            width: 60px;
            height: 135px;
            margin-top: 12px;
            float: left;
            a {
              display: block;
              width: 54px;
              height: 30px;
              margin-bottom: 13px;
              background: url("../images/p.png");
              border: 3px solid #f8f8f8;
              &:hover {
                border-color: #d6191d;
              }
            }
            a:first-child {
              border: 3px solid #d6191d;
            }
            a:last-child {
              margin-bottom: 0;
            }
          }
          h3 {
            width: 69px;
            height: 32px;
            clear: both;
            margin-left: 12px;
            font-size: 12px;
            line-height: 32px;
            font-weight: normal;
          }
        }
        ul {
          width: 296px;
          height: 212px;
          margin-top: 18px;
          li {
            width: 296px;
            height: 24px;
            line-height: 24px;
            font-size: 12px;
            color: #999;
            text-align: right;
            i {
              display: block;
              width: 13px;
              height: 13px;
              float: left;
              margin-top: 6px;
              margin-right: 8px;
              background: url("../images/22.png");
            }
            .i-1 {
              display: block;
              width: 9px;
              height: 11px;
              margin-left: 3px;
              background: url("../images/23.png");
            }
            a {
              display: block;
              float: left;
              height: 12px;
              line-height: 12px;
              margin-top: 6px;
              color: #454545;
              padding-left: 6px;
              //padding-right: 46px;
              border-left: 1px solid #dfdfdf;
            }
          }
        }
      }
    }
    /*diary style end*/
    /*bbs style begin*/
    .bbs {
      width: 710px;
      height: 330px;
      overflow: hidden;
      margin-top: 10px;
      .left {
        width: 348px;
        height: 294px;
        @include border;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        float: left;
        margin-top: 34px;
        position: relative;
        ul {
          height: 35px;
          width: 350px;
          position: absolute;
          top: -35px;
          left: -1px;
          li {
            width: 174px;
            height: 35px;
            float: left;
            margin-right: 2px;
            a {
              display: block;
              width: 172px;
              height: 33px;
              line-height: 33px;
              border: 1px solid #e5e5e5;
              border-radius: 3px 3px 0 0;
              font-size: 14px;
              font-family: "microsoft yahei";
              color: #2b2d2d;
              text-align: center;
              position: relative;
              &:hover {
                border-bottom-color: #fff;
                span {
                  color: #cc0d13;
                }
                i {
                  border-top-color: #ca0309;
                }
              }
              span {
                color: #666;
                padding-right: 5px;
              }
              i {
                display: block;
                width: 0;
                height: 0;
                border: 4px solid #fff;
                border-top-color: #c1c1c1;
                position: absolute;
                top: 14px;
                right: 12px;
              }
            }
          }
          li:first-child {
            a {
              border-bottom-color: #fff;
            }
            span {
              color: #cc0d13;
            }
            i {
              border-top-color: #ca0309;
            }
          }
          li:last-child {
            margin-right: 0;
            i {
              position: absolute;
              right: 16px;
              background: #f5f5f5;
            }
          }
        }
        p {
          width: 303px;
          height: 243px;
          margin-top: 30px;
          margin-left: 25px;
          background: url("../images/subway-map_03.png");
        }
      }
      .right {
        width: 318px;
        height: 328px;
        @include border;
        float: right;
        padding: 0 15px;
        .common {
          @include common(318px, 40px);
        }
        ul {
          width: 318px;
          height: 288px;
          li {
            width: 318px;
            margin-top: 3px;
            &:hover{
              p {
                display: none;
              }
              div {
                display: block;
              }
            }
            p {
              height: 30px;
              width: 318px;
              font-size: 12px;
              line-height: 30px;
              color: #666;
              background: #f1f1f1;
              border-radius: 4px;
              b {
                font-weight: normal;
                color: #d80000;
                padding-right: 20px;
                padding-left: 9px;
              }
              span {
                color: #333;
                padding-right: 85px;
              }
            }
            .p-1 {
              background: #f8f8f8;
            }
            div {
              height: 70px;
              width: 318px;
              background: red;
              border-radius: 4px;
              display: none;
              position: relative;
              img {
                display: block;
                width: 50px;
                height: 50px;
                margin: 10px;
                float: left;
              }
              em {
                display: block;
                height: 50px;
                width: 164px;
                float: left;
                font-style: normal;
                margin-top: 10px;
                h3 {
                  width: 164px;
                  height: 25px;
                  line-height: 25px;
                  color: #fff;
                  font-size: 13px;

                }
                span {
                  color: #fff;
                  display: block;
                  width: 37px;
                  height: 25px;
                  line-height: 25px;
                  font-size: 12px;
                }
              }
              strong {
                display: block;
                width: 58px;
                height: 22px;
                line-height: 22px;
                color: #fff;
                font-size: 20px;
                position: absolute;
                right: 6px;
                bottom: 0;
              }
            }
          }
          li:first-child {
            margin-top: 0;
            //p {
            //  display: none;
            //}
            //div {
            //  display: block;
            //}
          }
        }
      }
    }
    /*bbs style end*/
    /*content-1 style begin*/
    .content-1 {
      width: 710px;
      height: 300px;
      overflow: hidden;
      .left {
        width: 318px;
        height: 298px;
        float: left;
        padding: 0 15px;
        @include border;
        .common {
          @include common(318px,40px);
        }
        ul {
          width: 298px;
          height: 25px;
          padding: 0 10px;
          border-bottom: 1px solid #dadada;
          li {
            height: 26px;
            float: left;
            a {
              display: block;
              width: 98px;
              height: 24px;
              line-height: 24px;
              text-align: center;
              font-size: 12px;
              color: #666;
              border: 1px solid #dadada;
              margin-left: -1px;
              margin-bottom: -1px;
              border-radius: 4px 4px 0 0;
              position: relative;
              &:hover {
                color: #454545;
                border-bottom-color: #fff;
                em {
                  border-top-color: #ca0309;
                }
              }
              em {
                display: block;
                width: 0;
                height: 0;
                border: 4px solid #fff;
                border-top-color: #c1c1c1;
                position: absolute;
                top: 10px;
                right: 12px;
              }
            }
          }
          li:first-child {
            a {
              color: #454545;
              border-bottom-color: #fff;
            }
            em {
              border-top-color: #ca0309;
            }
          }
        }
        .p-1 {
          margin-top: 5px;
          height: 25px;
          width: 318px;
          line-height: 25px;
          font-size: 12px;
          color: #999;
          border-bottom: 1px dotted #cbcbca;
          span {
            padding-left: 116px;
            padding-right: 110px;
            letter-spacing: 19px;
          }
        }
        ol {
          width: 318px;
          height: 140px;
          li {
            width: 318px;
            height: 27px;
            border-bottom: 1px dotted #cbcbca;
            font-size: 12px;
            line-height: 27px;
            &:hover {
              a {
                color: #b80000;
              }
            }
            i {
              display: block;
              width: 3px;
              height: 3px;
              background: #d4051f;
              margin: 12px 7px 12px 6px;
              float: left;
            }
            span {
              color: #c75d61;
              padding-left: 1px;
              padding-right: 2px;
            }
            a {
              color: #454545;
              padding-left: 8px;
            }
            em {
              display: block;
              width: 10px;
              height: 10px;
              float: right;
              margin-right: 20px;
              margin-top: 8px;
              background: url("../images/19.png");
            }
            .em-1 {
              background: url("../images/18.png");
            }
          }
        }
        div {
          width: 318px;
          height: 23px;
          margin-top: 17px;
          line-height: 23px;
          margin-right: 0;
          span {
            display: block;
            float: left;
            margin-left: 12px;
            font-size: 12px;
            color: #595959;
          }
          input {
            display: block;
            width: 176px;
            height: 18px;
            float: left;
            margin-left: 9px;
            padding: 0 5px;
          }
          a {
            display: block;
            width: 23px;
            height: 23px;
            float: left;
            margin-left: 10px;
            background: url("../images/20.png");
          }
        }
      }
      .right {
        width: 318px;
        height: 298px;
        float: right;
        padding: 0 15px;
        @include border;
        .common {
          @include common(318px,40px);
        }
        ul {
          width: 318px;
          height: 240px;
          li {
            width: 318px;
            height: 78px;
            margin-top: 2px;
            img {
              display: block;
              float: left;
              margin-right: 2px;
            }
            ing:last-child {
              margin-right: 0;
            }
          }
          li:first-child {
            margin-top: 0;
          }
        }
      }
    }
    /*content-1 style end*/
    /*content-2 style begin*/
    .content-2 {
      width: 710px;
      height: 250px;
      margin-top: 10px;
      .left {
        width: 318px;
        height: 248px;
        float: left;
        padding: 0 15px;
        @include border;
        .common {
          @include common(318px,40px);
        }
        div {
          width: 318px;
          height: 91px;
          border-bottom: 1px solid #ededee;
          span {
            display: block;
            width: 296px;
            height: 36px;
            font-size: 12px;
            line-height: 18px;
            margin-top: 10px;
            margin-left: 5px;
            color: #333;
            text-indent: 2em;
          }
          p {
            width: 294px;
            height: 18px;
            margin-left: 8px;
            margin-top: 20px;
            a {
              display: block;
              width: 105px;
              height: 18px;
              line-height: 18px;
              float: left;
              font-size: 12px;
              font-family: "microsoft yahei";
              text-align: right;
              color: #b80000;
              background: url("../images/31.png") no-repeat;
            }
            a:last-child {
              float: right;
              width: 135px;
              color: #333;
              background: url("../images/21.png") no-repeat;
              &:hover {
                color: #b80000;
              }
            }
          }
        }
        ul, ol {
          width: 110px;
          height: 72px;
          margin-top: 16px;
          li {
            width: 108px;
            height: 19px;
            line-height: 19px;
            font-size: 12px;
            color: #292929;
            i {
              display: block;
              width: 3px;
              height: 3px;
              float: left;
              background: #b4040a;
              margin: 8px 5px 0 4px;
            }
          }
        }
        ul {
          float: left;
          margin-left: 10px;
        }
        ol {
          float: right;
          margin-right: 26px;
        }
      }
      .right {
        width: 318px;
        height: 248px;
        float: right;
        @include border;
        padding: 0 15px;
        .common {
          @include common(318px,40px);
        }
        ul {
          width: 318px;
          height: 174px;
          margin-top: 15px;
          li {
            width: 318px;
            height: 40px;
            margin-bottom: 4px;
            img {
              display: block;
              width: 88px;
              height: 31px;
              float: left;
              margin-right: 10px;
              margin-top: 4px;
            }
            p {
              float: left;
              font-size: 12px;
              height: 20px;
              width: 214px;
              color: #292929;
              line-height: 20px;
              overflow: hidden;
              margin-top: 10px;
            }
            .p-1 {
              height: 40px;
              margin-top: 0;
            }
          }
        }
      }
    }
    /*content-2 style end*/
  }
  .module-right {
    width: 240px;
    height: auto;
    float: right;
    /*regsiter style begin*/
    .regsiter {
      width: 238px;
      height: 138px;
      @include border;
      .common {
        @include common(226px,34px);
        padding-left: 12px;
        background: url(../images/menu-bg.png);
      }
      div {
        width: 214px;
        height: 68px;
        margin-left: 12px;
        border-bottom: 1px solid #f2f2f2;
        ul {
          height: 52px;
          width: 200px;
          margin-top: 15px;
          float: left;
          li {
            width: 200px;
            height: 19px;
            font-size: 12px;
            margin-bottom: 7px;
            overflow: hidden;
            span {
              display: block;
              width: 49px;
              height: 19px;
              line-height: 19px;
              font-size: 12px;
              color: #595959;
              float: left;
            }
            input {
              width: 82px;
              height: 13px;
              float: left;
            }
            #select {
              width: 12px;
              height: 12px;
              float: left;
            }
            label {
              display: block;
              float: left;
            }
            a {
              display: block;
              width: 56px;
              height: 19px;
              text-align: center;
              line-height: 19px;
              font-size: 12px;
              color: #fff;
              float: left;
              margin-left: 6px;
              border-radius: 10px;
              background: #d50000;
            }
          }
        }
      }
      ol {
        width: 214px;
        height: 32px;
        margin-left: 12px;
        li {
          width: 68px;
          height: 32px;
          line-height: 32px;
          font-size: 12px;
          color: #666;
          float: left;
          margin-left: 18px;
          margin-right: 22px;
          i {
            width: 2px;
            height: 3px;
            display: block;
            background: #d20f02;
            float: left;
            margin-top: 15px;
            margin-right: 6px;
          }
        }
        li:last-child {
          margin-right: 0;
        }
      }
    }
    /*regsiter style end*/
    .logo-1 {
      width: 240px;
      height: 90px;
      margin: 10px 0;
      background: url("../images/r-1.png");
    }
    .logo-2 {
      width: 240px;
      height: 180px;
      margin-bottom: 10px;
      background: url("../images/r-2.png");
    }
    /*shop style begin*/
    .shop {
      width: 214px;
      height: 238px;
      @include border;
      padding: 0 12px;
      .common {
        @include common(214px,40px);
      }
      ul {
        width: 202px;
        height: 24px;
        padding: 0 6px;
        border-bottom: 1px solid #dadada;
        li {
          height: 24px;
          float: left;
          a {
            display: block;
            width: 66px;
            height: 23px;
            line-height: 22px;
            text-align: center;
            font-size: 12px;
            color: #666666;
            border: 1px solid #dadada;
            margin-left: -1px;
            margin-bottom: -1px;
            border-radius: 4px 4px 0 0;
            position: relative;
            &:hover {
              color: #333;
              border-bottom-color: #fff;
              i {
                border-top-color: #cc0d13;
              }
            }
            i {
              display: block;
              width: 0;
              height: 0;
              border: 4px solid #fff;
              border-top-color: #a19b9b;
              position: absolute;
              top: 10px;
              right: 12px;
            }
          }
        }
        li:first-child {
          a {
            color: #333;
            border-bottom-color: #fff;
            i {
              border-top-color: #cc0d13;
            }
          }
        }
      }
      div {
        width: 214px;
        height: 30px;
        line-height: 30px;
        span {
          font-size: 12px;
          color: #999;
          padding-left: 46px;
          padding-right: 64px;
        }
        i {
          font-size: 12px;
          font-style: normal;
          color: #999;
          padding-right: 20px;
        }
        strong {
          font-size: 12px;
          color: #999;
          font-weight: normal;
        }
      }
      ol {
        width: 214px;
        height: 140px;
        li {
          width: 214px;
          height: 27px;
          border-top: 1px dotted #cbcbca;
          font-size: 12px;
          line-height: 27px;
          &:hover {
            a {
              color: #b80000;
            }
          }
          i {
            display: block;
            width: 3px;
            height: 3px;
            background: #d4051f;
            margin: 12px 5px;
            float: left;
          }
          a {
            color: #454545;
            padding-left: 8px;
            padding-right: 35px;
          }
          span {
            font-size: 12px;
            color: #d80000;
            padding-right: 18px;
          }
          em {
            font-size: 12px;
            color: #999;
            font-style: normal;
          }
        }
      }
    }
    /*shop style end*/
    /*shop-1 style begin*/
    .shop-1 {
      width: 214px;
      height: 418px;
      padding: 0 12px;
      margin: 10px 0;
      @include border;
      .common {
        @include common(214px,40px);
      }
      ul {
        width: 214px;
        height: 368px;
        li {
          width: 214px;
          height: 84px;
          margin-bottom: 10px;
          border-bottom: 1px dotted #cbcbca;
          i {
            display: block;
            width: 90px;
            height: 67px;
            border: 1px solid #dadada;
            padding: 2px;
            float: left;
            margin-right: 12px;
            position: relative;
            em {
              display: block;
              width: 40px;
              height: 40px;
              background: url("../images/34.png");
              position: absolute;
              top: 36px;
              right: -3px;
            }
          }
          div {
            width: 106px;
            height: 74px;
            float: left;
            a {
              display: block;
              height: 28px;
              line-height: 28px;
              font-size: 12px;
              color: #b80000;
            }
            p {
              height: 19px;
              line-height: 19px;
              font-size: 12px;
              color: #666;
              span {
                color: #999;
              }
            }
          }
        }
        li:last-child {
          margin-bottom: 0;
        }
      }
    }
    /*shop-1 style end*/
    /*shop-2 style begin*/
    .shop-2 {
      width: 214px;
      height: 178px;
      padding: 0 12px;
      @include border;
      .common {
        @include common(214px,40px);
      }
      i {
        font-size: 12px;
        color: #333;
        font-style: normal;
      }
    }
    /*shop-2 style end*/
    /*shop-3 style begin*/
    .shop-3 {
      width: 214px;
      height: 348px;
      padding: 0 12px;
      margin: 10px 0;
      @include border;
      .common {
        @include common(214px,40px);
      }
      ul {
        width: 214px;
        height: 82px;
        li {
          width: 214px;
          height: 84px;
          margin-bottom: 10px;
          border-bottom: 1px dotted #cbcbca;
          i {
            display: block;
            width: 90px;
            height: 67px;
            border: 1px solid #dadada;
            padding: 2px;
            float: left;
            margin-right: 12px;
            position: relative;
            em {
              display: block;
              width: 40px;
              height: 40px;
              background: url("../images/34.png");
              position: absolute;
              top: 36px;
              right: -3px;
            }
          }
          div {
            width: 106px;
            height: 74px;
            float: left;
            a {
              display: block;
              height: 28px;
              line-height: 28px;
              font-size: 12px;
              color: #b80000;
            }
            p {
              height: 19px;
              line-height: 19px;
              font-size: 12px;
              color: #666;
              span {
                color: #999;
              }
            }
          }
        }
        li:last-child {
          margin-bottom: 0;
        }
      }
      ol {
        width: 214px;
        height: 222px;
        li {
          width: 214px;
          height: 27px;
          border-bottom: 1px dotted #cbcbca;
          font-size: 12px;
          line-height: 27px;
          &:hover {
            a {
              color: #b80000;
            }
          }
          i {
            display: block;
            width: 3px;
            height: 3px;
            background: #d4051f;
            margin: 12px 7px 12px 6px;
            float: left;
          }
          span {
            color: #c75d61;
            padding-left: 1px;
            padding-right: 2px;
          }
          a {
            color: #454545;
            padding-left: 8px;
          }
        }
        li:last-child {
          border-bottom: none;
        }
      }
    }
    /*shop-3 style end*/
    /*shop-4 style begin*/
    .shop-4 {
      width: 214px;
      height: 368px;
      padding: 0 12px;
      margin: 10px 0;
      @include border;
      .common {
        @include common(214px,40px);
      }
      ul {
        width: 214px;
        height: 150px;
        border-bottom: 1px dotted #cbcbca;
        li {
          width: 96px;
          height: 150px;
          float: left;
          margin-right: 10px;
          i {
            display: block;
            width: 90px;
            height: 67px;
            border: 1px solid #dadada;
            padding: 2px;
            position: relative;
          }
          div {
            width: 96px;
            height: 74px;
            a {
              display: block;
              height: 28px;
              line-height: 28px;
              font-size: 12px;
              color: #b80000;
            }
            p {
              height: 19px;
              line-height: 19px;
              font-size: 12px;
              color: #666;
              span {
                color: #999;
              }
            }
          }
        }
        li:last-child {
          margin-bottom: 0;
        }
      }
      ol {
        width: 214px;
        height: 174px;
        li {
          width: 214px;
          height: 27px;
          border-bottom: 1px dotted #cbcbca;
          font-size: 12px;
          line-height: 27px;
          &:hover {
            a {
              color: #b80000;
            }
          }
          i {
            display: block;
            width: 3px;
            height: 3px;
            background: #d4051f;
            margin: 12px 7px 12px 6px;
            float: left;
          }
          span {
            color: #c75d61;
            padding-left: 1px;
            padding-right: 2px;
          }
          a {
            color: #454545;
            padding-left: 8px;
          }
        }
        li:last-child {
          border-bottom: none;
        }
      }
    }
    /*shop-4 style end*/
  }
}
/*content style end*/
/*footer style begin*/
.footer {
  height: 78px;
  margin-top: 10px;
  margin-bottom: 30px;
  clear: both;
  @include border;
  background: #f9f9f9;
  p {
    width: 653px;
    height: 12px;
    line-height: 12px;
    color: #919191;
    font-size: 12px;
    margin: 20px auto;
    a {
      color: #454545;
      font-size: 12px;
      padding: 0 10px;
    }
  }
  span {
    display: block;
    width: 445px;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    margin: -6px auto;
    color: #767676;
    i {
      font-style: normal;
      padding-left: 18px;
    }
  }
}
/*footer style end*/


